body {
  margin: 0;
  padding: 0;
  background: #d3ebf0;
  color: #174e73;
  font-family: "Calibri";
}
header #logo {
  text-align: center;
  position: relative;
  animation-name: move;
  animation-duration: 3s;
}
@keyframes move {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 50%;
    top: 0px;
    transform: rotate(180deg);
  }
  100% {
    left: 0%;
    top: 0px;
    transform: rotate(360deg);
  }
}
#zing-cinema {
  background-image: radial-gradient(steelblue, #174e73);
  color: rgb(224, 237, 252);
  text-align: center;
  font-size: 2.5em;
  font-family: "Helvetica";
  border: 4px solid #174e73;
}
.Nav {
  position: fixed;
  z-index: 12;
  top: 15%;
}
.Nav ul {
  list-style: none;
  width: 500px;
  text-align: center;
  background: steelblue;
  padding: 0;
}

.Nav ul li {
  display: inline-block;
}
.Nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  box-sizing: border-box;
  display: inline-block;
  padding: 16px 24px;
}
.Nav ul li a:hover {
  background: #eefbfb;
  color: #174e73;
  transition: 0.1s;
}
h3 {
  color: #174e73;
}
.button {
  background-color: steelblue;
  color: white;
  border: 2px solid #174e73;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 0.8em;
  cursor: pointer;
}
#button {
  background-color: steelblue;
  color: white;
  border: 2px solid #174e73;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 0.8em;
  cursor: pointer;
}
.bar {
  float: left;
  width: 100%;
  height: 5px;
  background-image: radial-gradient(steelblue, #174e73);
  margin-top: 50px;
  margin-bottom: 10px;
  border-top: 2px solid #174e73;
  border-bottom: 2px solid #174e73;
}
footer {
  float: left;
  width: 100%;
  background-color: #3f75a2;
  color: #eefbfb;
  text-align: center;
  font-family: Helvetica;
}
footer a {
  color: navy;
}
