#trailer video {
  border: 4px solid steelblue;
  border-radius: 4px;
  margin-left: 5px;
  width: 55%;
  margin-bottom: 0px;
  float: left;
}
h2 {
  color: #174e73;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#now-show {
  float: left;
  margin-left: 30px;
}
#up-comming {
  width: 99%;
  float: left;
}
.thumb {
  border: 1px solid steelblue;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 1px;
  float: left;
  margin-left: 25px;
  cursor: pointer;
}
.thumb:hover {
  box-shadow: 0 0 4px 4px rgba(0, 140, 186, 0.5);
}
.movie {
  float: left;
  padding-left: 5px;
  width: 39%;
}
#up .movie {
  float: left;
  padding-left: 5px;
  width: 99%;
}
.movie dl {
  position: relative;
  float: left;
  padding-left: 5px;
  padding-right: 15px;
  font-size: 1.15em;
  font-family: Calibri;
  color: #174e73;
}
.movie-name {
  padding-left: 30px;
  padding-top: 5px;
  font-size: 1.2em;
  font-family: Calibri;
  color: #174e73;
}
/*-----------------------------------------Now Showing Page:------------------------------------------------------- */
#cinema-select {
  text-align: center;
  font-size: 1.5em;
}
.thumbnail {
  margin: 10px;
  border: 3px solid steelblue;
  border-radius: 4px;
  float: left;
}
.movie-select {
  float: left;
  padding-left: 40px;
  padding-right: 15px;
  width: 30%;
  font-size: 1.2em;
  font-family: "Calibri";
}
.movie-select h4,
label {
  margin-left: 10px;
}
#location {
  padding: 5px;
  width: 55%;
  float: left;
  font-size: 1.1em;
}
#location h2 {
  margin-left: 1px;
}

.map {
  float: left;
  border: 4px solid steelblue;
  border-radius: 4px;
  margin-bottom: 5px;
  width: 60%;
}
#cinema_selection {
  text-align: center;
}
#show {
  text-align: center;
}
.book-from {
  width: 99%;
}
#fm01 {
  width: 90%;
}
#timings {
  text-align: center;
}
#timings form {
  float: left;
  padding-left: 40px;
  padding-right: 15px;
  width: 45%;
  font-size: 1.2em;
  font-family: "Calibri";
}
#F1 {
  text-align: center;
  margin: 0 5% 5% 5%;
}
#timings form label {
  float: left;
  width: 45%;
}
#timings form input {
  float: left;
  width: 45%;
}
#timings form select {
  float: left;
  width: 45%;
}
#F1 label {
  font-size: 1.5em;
}
#address {
  float: left;
  width: 15%;
  font-size: 1.5em;
}
#address h4,
p {
  margin-top: 0px;
}
