table {
  border-collapse: collapse;
  width: 30%;
  text-align: center;
  margin-right: 10%;
  margin-top: 0px;
  margin-left: 50px;
}
thead {
  font-size: 1.5em;
  color: black;
}
.row {
  width: 10%;
  font-size: 1.5em;
  color: #000;
}
.seat {
  border: 2px solid black;
  padding: 20px;
  font-size: 1.5em;
}
.seat:hover {
  background-color: steelblue;
  color: aliceblue;
}
tfoot {
  text-align: center;
  font-size: 1.5em;
  color: black;
}
#ticket-info {
  margin-left: 10px;
  font-size: 1.5em;
  font-weight: bold;
  float: left;
  width: 45%;
}
#selected-seats {
  font-size: 1.2em;
  margin-left: 5px;
  float: left;
  width: 50%;
}
#Tickets {
  color: #000;
  font-size: 1.4em;
  font-weight: bold;
}
.ticket1 {
  text-align: left;
  margin-left: 5px;
  margin-bottom: 10px;
}
h4 {
  font-size: 1.2em;
}
footer {
  margin-top: 30px;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
  }
  header,
  .Nav,
  footer {
    display: none;
  }
}
form label,
form input {
  position: relative;
  float: left;
  width: 50%;
  font-size: 1.5em;
  margin-left: 5px;
  margin-right: 10%;
}
#booked-seats {
  margin-right: 2px;
}
.button {
  float: left;
  width: 150px;
  padding: 9px;
}
#Tickets div {
  border: solid black 2px;
  page-break-after: always;
}
h3 {
  margin-left: 5px;
  font-size: 1.5em;
}
